#closeButton{
    background-color: rgb(139, 65, 22);
    cursor: pointer;
    border-radius : 2px;
    border: none;
    color: white;
    margin-top: 15px;
    box-shadow: 0px 3px 4px 0px #555;
    height: 25px;
}